/* CrearGrupo.css */

/* Estilo general del formulario */
.form-container {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    padding: 40px; /* Espaciado interno generoso */
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 500px; /* Ancho máximo para el formulario */
    margin: 40px auto; /* Centrar el formulario con un margen superior */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Fuente moderna y limpia */
}

/* Estilo para las etiquetas */
.form-container label {
    display: block; /* Hacer que las etiquetas sean de bloque para alineación */
    color: #333333; /* Color oscuro para el texto */
    margin-bottom: 10px; /* Espacio debajo de cada etiqueta */
    font-weight: 500; /* Semi-negrita para las etiquetas */
}

/* Estilo para los campos de entrada */
.form-container input,
.form-container textarea {
    width: 100%; /* Ocupar todo el ancho disponible */
    padding: 12px 20px; /* Espaciado interno para los campos de entrada */
    margin-bottom: 20px; /* Espacio debajo de cada campo de entrada */
    border: 1px solid #cccccc; /* Borde sutil */
    border-radius: 4px; /* Esquinas ligeramente redondeadas */
    box-sizing: border-box; /* Box sizing para manejar padding y width juntos */
}

/* Estilo para el área de texto */
.form-container textarea {
    height: 120px; /* Altura específica para área de texto */
    resize: none; /* Deshabilitar redimensionamiento */
}

/* Estilo para el botón de envío */
.form-container button {
    width: 100%; /* Ocupar todo el ancho disponible */
    padding: 15px 20px; /* Espaciado interno generoso */
    background-color: #0056b3; /* Color de fondo del botón: azul */
    color: white; /* Texto del botón blanco para contraste */
    border: none; /* Sin borde */
    border-radius: 4px; /* Esquinas ligeramente redondeadas */
    cursor: pointer; /* Cursor de puntero para indicar clic */
    font-size: 16px; /* Tamaño de fuente legible */
    font-weight: bold; /* Negrita para el texto del botón */
    transition: background-color 0.3s ease-in-out; /* Transición suave para el color de fondo */
}

/* Estilo para el botón de envío al pasar el mouse */
.form-container button:hover {
    background-color: #003d82; /* Oscurecer el botón al pasar el mouse */
}

/* Estilo para enfocar campos de entrada y áreas de texto */
.form-container input:focus,
.form-container textarea:focus {
    border-color: #0056b3; /* Cambiar el color del borde al enfocar */
    outline: none; /* Eliminar el contorno predeterminado */
}

/* Media query para responsividad */
@media (max-width: 768px) {
    .form-container {
        padding: 20px; /* Menos espacio en dispositivos más pequeños */
        margin: 20px; /* Menos margen en dispositivos más pequeños */
    }
}

.form-button.liked {
    background-color: #4CAF50; /* Verde o cualquier color que prefieras */
    color: white;
  }